<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransicionesPracticaImagenes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85AD415E201FFFFF003F855D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85AD4172201FFFFF003F855D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85AD417D201FFFFF003F855D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
